*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    font-size: 62.5%;
}

:root{
    --card-quote-colour: rgb(184, 134, 11);
    --card-background-colour: rgb(245, 245, 220);
    --font-size-lg: 3.5rem;
    --front-size-sm: 2rem;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15rem;
    max-width: 800px;
    border-radius: 1.05%;
    background-color: var(--card-background-colour);
    position: relative;
}

.quote {
    color: var(--card-quote-colour);
    padding: 5%;
    font-size: var(--font-size-lg);
    margin: 1rem 12rem;
    text-align: center;
}

.line {
    height: 1.5px;
    width: 500px;
    background-color: var(--card-quote-colour);
    
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
    padding-bottom: 2rem;
    
}

.author {
    font-size: var(--front-size-sm);
    font-weight: 500;
}

.icons {
    display: flex;
    gap: 4rem;
}

.icons img {
    height: 3rem;
    cursor: pointer;
}

